* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.app-name {
	text-align: center;
	color: #fafafa;
	background-color: #26c1fc;
	padding-top: 13rem;
	padding-bottom: rem;
	box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
}

.app-name-title {
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 3px;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	font-family: 'Paytone One';
}
.app-name-title-2 {
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: 3px;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-transform: uppercase;
}

.header h2 {
	font-size: 1.8rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	color: #fafafa;
}

h1,
h2 {
	font-family: 'Paytone One';
}
.chore-title h2 {
	font-weight: bolder;
}

.treasure-map img {
	width: 50px;
	height: auto;
}

.welcome-message {
	font-size: 1.8rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	text-transform: capitalize;
	color: #fafafa;
}

.name-label {
	font-family: 'Paytone One';
	font-size: 1.2rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 0.5rem;
	color: #fafafa;
}

.name-input-box {
	margin-top: 0.5rem;
	color: rgb(33, 37, 41);
	font-weight: 600;
	font-family: Helvetica, sans-serif;
	border-radius: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
	border: none;
}

.welcome-button {
	background: #998ceb;
	color: #fafafa;
	font-weight: 600;
	border: none;
	border-radius: 15px;
	padding: 0.5rem 2rem;
	cursor: pointer;
	box-shadow: 0px 5px 10px 0px #544d81;
}

.menu-buttons {
	justify-content: center;
	display: flex;
	padding: 3.5rem;
	padding-bottom: 17rem;
	/* background-color: #bada55; */
	background-color: #26c1fc;
}

.cutesies {
	width: 100%;
	color: #70d6ff;
}

/* Sub Header Button Styling */
.explore-task-btn {
	background: #8dca47;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	margin-right: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #555460;
}

.explore-task-btn:hover {
	/* background: #a3b8ff; */
	background: #9bc967;
}

.view-rewards-btn {
	background: #febd3a;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	margin-right: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #726856;
}

.view-rewards-btn:hover {
	background: #feca74;
}

.my-profile-btn {
	background: #fc606e;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #8d6c6f;
}

.my-profile-btn:hover {
	background: #f76d7e;
}

.home-btn {
	background: #26c1fc;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #3c6372;
}

.home-btn:hover {
	background: #7bd4f7;
}

.MenuTaskList {
	background-color: #8dca47;
	padding-top: 4rem;
	padding-right: 4rem;
}

.MenuRewardList {
	background-color: #998ceb;
	padding-top: 4rem;
	padding-right: 4rem;
}
.MenuStats {
	background-color: #fc606e;
	padding-top: 4rem;
	padding-right: 4rem;
}

/* End Sub Header Button Styling*/

/* About */
.about-container {
	/* padding: 4rem 13rem; */
	padding-top: 10rem;
	padding-bottom: 10rem;
	padding-right: 10rem;
	padding-left: 10rem;
	background-color: white;
	box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1);
	display: flex;
}

.about-container h2 {
	/* color: #26c1fc; */
	color: #998ceb;
	text-shadow: 2px 6px 2px rgba(47, 20, 63, 0.2);
	padding-bottom: 2rem;
	text-transform: capitalize;
	font-size: 3.5rem;
}
.about-info-container {
	padding-top: 4rem;
	box-shadow: 8px 5px 8px 2px rgba(48, 22, 63, 0.2);
	border-radius: 15px;
}

.about-info {
	font-family: 'Paytone One';
	font-size: 18px;
	color: #575661;
	/* color: #186888; */
	text-align: start;
	font-weight: 500;
	font-family: 'Arial';
}

.about-image img {
	max-width: 100%;
	height: 450px;
	padding-left: 4rem;
}

/* Task List Styling */

.chore-title {
	font-size: 3.5rem;
	/* font-weight: 600; */
	color: #fafafa;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-align: start;
}

.chore-title-question {
	font-size: 1.8rem;
	/* font-weight: 600; */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 4rem;
	/* color: #575661; */
	color: #fafafa;
	text-align: start;
}

.task-list {
	/* background-color: rgb(244, 232, 213); */
	background-color: #8dca47;
	padding: 4rem 15rem;

	/* border-radius: 10rem; */
	/* box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1); */
}
.task-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

span.emoji {
	font-size: 4rem;
	text-align: center;
}

.tasks h3 {
	font-size: 24px;
	font-family: 'Paytone One';
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	color: #575661;
	text-transform: capitalize;
	text-align: center;
}

.task-description {
	font-size: 16px;
	color: #575661;
	text-align: center;
}

.tasks .points-earned {
	font-size: 20px;
	color: #75ba66;
}

.task-completed-button {
	background: #26c1fc;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.task-completed-button:hover {
	background: #fafafa;
	font-size: 1.2rem;
	font-weight: 600;
	color: #26c1fc;
	border: 5px dotted #26c1fc;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.task {
	background-color: #fafafa;
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	padding: 1.5rem;
	margin: 1rem;
}

/* Hover over Task */
.task:hover {
	/* background-color: #70d6ff;  */
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	padding: 1.5rem;
	margin: 1rem;
}

/* Add Task Form Styling */
.form {
	margin: 3rem 5rem;
}

.form-description {
	color: #fafafa;
	text-align: center;
	padding-bottom: 1rem;
	font-size: 2rem;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
}

.AddTaskChoreForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add-input {
	font-size: 20px;
	margin-top: 0.5rem;
	color: #575661;
	font-weight: 600;
	font-family: sans-serif;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 15px;
	border: none;
	text-transform: capitalize;
}

.add-input::placeholder {
	color: #575661;
}

.add-btn {
	/* box-shadow: 0px 5px 10px 0px rgba(47, 20, 63, 0.2); */
	background: #fc606e;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 15px;
	padding: 1rem 2rem;
	margin-top: 1.5rem;
	cursor: pointer;
}
.add-btn:hover {
	background: #f76d7e;
}

/* Rewards Page */

.reward-title {
	padding-top: 2rem;
	font-size: 3.5rem;
	color: #fafafa;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-align: start;
}

.reward-title-statement {
	font-size: 1.8rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 3rem;
	color: #fafafa;
	text-align: start;
}

.rewards-list {
	display: flex;
	/* background-color: #f1bc41; */
	background-color: #998ceb;
	padding: 4rem 15rem;
	/* box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1); */
}

.rewards h3 {
	font-size: 24px;
	font-family: 'Paytone One';
	text-align: center;
	color: #575661;
}

.rewards .points-earned {
	font-size: 20px;
	color: #eab438;
	text-align: center;
}

.reward {
	background-color: #fafafa;
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	padding: 1.5rem;
	margin: 1rem;
	text-align: center;
}

.reward:hover {
	background-color: #fafafa;
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	/* background-color: #e0f3fb; */
	padding: 1.5rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.redeem-button {
	background: rgb(165, 226, 73);
	font-size: 1.2rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.redeem-button:hover {
	background: #fafafa;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(165, 226, 73);
	border: 5px dotted rgb(165, 226, 73);
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

/* My Stats */

.user-stat-container {
	display: flex;
	background-color: #fc606e;
	padding: 4rem 15rem;
	/* border-radius: 10rem; */
	/* box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1); */
}

.stats-title {
	padding-top: 2rem;
	font-size: 3.5rem;
	/* font-weight: 600; */
	color: #fafafa;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-align: start;
}

.stats-title-question {
	font-size: 1.8rem;
	/* font-weight: 600; */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 4rem;
	/* color: #575661; */
	color: #fafafa;
	text-align: start;
}

.stats-container {
	padding: 5rem;
	box-shadow: 8px 5px 8px 2px rgba(48, 22, 63, 0.2);
	border-radius: 15px;
	background-color: #fafafa;
}

.avail-container {
	text-align: center;
}

.lifetime-container {
	text-align: center;
}

.stats-points {
	display: inline-block;
	vertical-align: middle;
	font-size: 3.5rem;
	font-family: 'Paytone One';
	color: #575661;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
}

.points-description {
	font-family: 'Paytone One';
	color: #575661;
	font-size: 24px;
}

.coin-image {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: auto;
}
