* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.app-name {
  text-align: center;
  /* border-radius: 30%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; */
  color: #fafafa;
  background-color: #26c1fc;
  /* padding-left: 12rem; */
  padding-top: 13rem; 
  padding-bottom: rem;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
}

.app-name-title {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  font-family: "Paytone One";
}
.app-name-title-2 {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  text-transform: uppercase;
}

.header h2 {
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fafafa;
}

h1, h2 {
  font-family: "Paytone One";
}
.chore-title h2 { 
  font-weight: bolder;
}

.welcome-message {
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  color: #fafafa;
}

.name-label {
  font-family: "Paytone One";
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
  color: #fafafa;
}

.name-input-box {
  margin-top: 0.5rem;
  color: rgb(33, 37, 41);
  font-weight: 600;
  font-family: Helvetica, sans-serif;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
}

.welcome-button {
  background: rgb(165, 226, 73);
  color: #fafafa;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #7db1c6;
}

.menu-buttons {
  justify-content: center;
  display: flex;
  padding: 3.5rem;
  padding-bottom: 17rem;
  /* background-color: #bada55; */
  background-color: #26c1fc;
}

.cutesies {
  width: 100%;
  color: #70d6ff;
}

/* Sub Header Button Styling */
.explore-task-btn {
  background: #998ceb;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fafafa;
  border: none;
  border-radius: 15px;
  padding: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  /* box-shadow: 0px 5px 10px 0px #c1baed; */
}

.explore-task-btn:hover {
  background: #a3b8ff;
}

.view-rewards-btn {
  background: #febd3a;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fafafa;
  border: none;
  border-radius: 15px;
  padding: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  /* box-shadow: 0px 5px 10px 0px #e0cba8; */
}

.view-rewards-btn:hover {
  background: #feca74; 
}

.my-profile-btn {
  background: #fc606e;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fafafa;
  border: none;
  border-radius: 15px;
  padding: 1.5rem;
  cursor: pointer;
  /* box-shadow: 0px 5px 10px 0px #fab6bc; */
}

.my-profile-btn:hover {
  background: #f76d7e;
}
/* End Sub Header Button Styling*/

/* About */
.about-container {
  /* padding: 4rem 13rem; */
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: white;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1),
      8px -8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.about-container h2 {
  color: #26c1fc;
  text-shadow: 2px 6px 2px rgba(47, 20, 63, 0.2);
  padding-bottom: 1rem;
  text-transform: capitalize;
  font-size: 3.5rem;
}
.about-info-container {
  padding-top: 4rem;
}

.about-info {
  font-family: "Paytone One";
  font-size: 18px;
  /* color: #575661; */
  color: #186888;
  text-align: start;
  font-weight: 100;
  padding-right: 8rem;
  font-family: 'Arial';
}

.about-image img{
  max-width: 100%;
  height: 450px;
  padding-left: 8rem;

}

/* Task List Styling */

.chore-title {
  padding-top: 2rem;
  font-size: 3.5rem;
  /* font-weight: 600; */
  color: #fafafa;
  text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  text-align: start;
}

.chore-title-question {
  font-size: 1.8rem;
  /* font-weight: 600; */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 4rem;
  /* color: #575661; */
  color: #fafafa;
  text-align: start;
}

.task-list {
  /* background-color: rgb(244, 232, 213); */
  background-color: #8dd54f;
  padding: 4rem 15rem;
  /* border-radius: 10rem; */
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 
  8px -8px rgba(0, 0, 0, 0.1);
}
.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

span.emoji {
  font-size: 4rem;
  text-align: center;
}

.tasks h3 {
  font-size: 22px;
  font-family: "Paytone One";
  text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.2);
  color: #575661;
  text-transform: capitalize;
  text-align: center;
}

.task-description {
  font-size: 16px;
  color: #575661;
  text-align: center;
}

.tasks .points-earned {
  font-size: 20px;
  color: #75ba66;
}

.task-completed-button {
    background: #26c1fc;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fafafa;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    align-content: center;
    /* box-shadow: 0px 5px 10px 0px #7db1c6; */
  }

    .task-completed-button:hover {
      background: #fafafa;
      font-size: 1.2rem;
      font-weight: 600;
      color: #26c1fc;
      border: 5px dotted #26c1fc;
      border-radius: 20px;
      padding: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      align-content: center;
      /* box-shadow: 0px 5px 10px 0px #7db1c6; */
    }

.task {
  background-color: #fafafa;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  padding: 1.5rem;
  margin: 1rem; 
}

/* Hover over Task */
.task:hover {
  /* background-color: #70d6ff;  */
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  padding: 1.5rem;
  margin: 1rem;
}


/* Add Task Form Styling */
.task-form {
  margin: 3rem 5rem;
}

.task-form-description {
  color: #fafafa;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
}

.AddTaskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addTask-input {
  margin-top: 0.5rem;
  color: rgb(33, 37, 41);
  font-weight: 600;
  font-family: sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 15px;
  border: none;
}
.addTask-btn {
  box-shadow: 0px 5px 10px 0px rgba(47, 20, 63, 0.2);
  background: #fc606e;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fafafa;
  border: none;
  border-radius: 15px;
  padding: 1rem 4rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
.addTask-btn:hover {
  background: #f76d7e;
}

/* Rewards Page */

.reward-title {
  padding-top: 2rem;
  font-size: 3.5rem;
  color: #fafafa;
  text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  text-align: start;
}

.reward-title-statement {
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 3rem;
  color: #fafafa;
  text-align: start;
}

.rewards-list {
  display: flex;
  background-color: #f9bd31;
  padding: 4rem 15rem;
  margin-top: 3rem;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 
  8px -8px rgba(0, 0, 0, 0.1);
}

.rewards h3 {
  font-size: 22px;
  font-family: "Paytone One";
  text-align: center;
  color: #575661;
}

.rewards .points-earned {
  font-size: 20px;
  color: #eab438;
  text-align: center;
}

.reward {
  background-color: #fafafa; 
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
}

.reward:hover {
  background-color: #fafafa; 
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  /* background-color: #e0f3fb; */
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.redeem-button {
  background: rgb(165, 226, 73);
  font-size: 1.2rem;
  font-weight: 600;
  color: #fafafa;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  align-content: center;
  /* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.redeem-button:hover {
  background: #fafafa;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(165, 226, 73);
  border: 5px dotted rgb(165, 226, 73);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  align-content: center;
  /* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

/* My Stats */

.user-stat-container {
  display: flex;
  background-color: #998ceb;
  padding: 3rem 15rem;
  justify-content: center;
  /* border-radius: 10rem; */
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 
           8px -8px rgba(0, 0, 0, 0.1);
}


.stats-title {
  padding: 2rem;
  font-size: 3.5rem;
  color: #fafafa;
  text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
  text-align: center;
}