* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.app-name {
	text-align: center;
	color: #fafafa;
	background-color: rgb(86, 205, 249);
	padding-top: 13rem;
	padding-bottom: rem;
	box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
}

.app-name-title {
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 3px;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	font-family: 'Paytone One';
}
.app-name-title-2 {
	font-size: 5rem;
	font-weight: 600;
	letter-spacing: 3px;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-transform: uppercase;
}

.header h2 {
	font-size: 1.8rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	color: #fafafa;
}

h1,
h2 {
	font-family: 'Paytone One';
}
.chore-title h2 {
	font-weight: bolder;
}

.treasure-map img {
	width: 50px;
	height: auto;
}

.welcome-message {
	font-size: 1.8rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	text-transform: capitalize;
	color: #fafafa;
}

.name-label {
	font-family: 'Paytone One';
	font-size: 1.2rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 0.5rem;
	color: #fafafa;
}

.name-input-box {
	margin-top: 0.5rem;
	color: rgb(33, 37, 41);
	font-weight: 600;
	font-family: Helvetica, sans-serif;
	border-radius: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
	border: none;
}

.welcome-button {
	background: #998ceb;
	color: #fafafa;
	font-weight: 600;
	border: none;
	border-radius: 15px;
	padding: 0.5rem 2rem;
	cursor: pointer;
	box-shadow: 0px 5px 10px 0px #544d81;
}

.menu-buttons {
	justify-content: center;
	display: flex;
	padding: 3.5rem;
	padding-bottom: 17rem;
	/* background-color: #bada55; */
	background-color: rgb(86, 205, 249);
}

.cutesies {
	width: 100%;
	color: rgb(126, 212, 212);
}

/* Sub Header Button Styling */
.explore-task-btn {
	background: #8dca47;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	margin-right: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #555460;
}

.explore-task-btn:hover {
	/* background: #a3b8ff; */
	background: #9bc967;
}

.view-rewards-btn {
	background: #febd3a;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	margin-right: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #726856;
}

.view-rewards-btn:hover {
	background: #feca74;
}

.my-profile-btn {
	background: #998ceb;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #554e80;
}

.my-profile-btn:hover {
	background: #aca2ed;
}

.home-btn {
	background: #26c1fc;
	font-size: 1.4rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 50px;
	padding: 2rem 2rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 5px 10px 0px #3c6372;
}

.home-btn:hover {
	background: #7bd4f7;
}

.MenuTaskList {
	background-color: #8093f1;
	padding-top: 4rem;
	padding-right: 4rem;
}

.MenuRewardList {
	background-color: rgb(239, 75, 75);
	padding-top: 4rem;
	padding-right: 4rem;
}
.MenuStats {
	background-color: rgb(86, 205, 249);
	padding-top: 4rem;
	padding-right: 4rem;
}

/* End Sub Header Button Styling*/

/* About */
.about-container {
	/* background-color: #d5f1fc; */
	/* background-color: #8dca47; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 6rem 17rem;
}

.about-container h2 {
	font-size: 3.2rem;
	color: #febd3a;
	text-align: start;
	padding-bottom: 1rem;
	font-weight: 600;
	letter-spacing: 2px;

	font-family: 'Paytone One';
}

.about-info-container p {
	font-size: 20px;
	color: #46454f;
	text-align: start;
	font-family: 'Arial';
	line-height: 35px;
	letter-spacing: 1px;
}

.about-image img {
	max-width: 100%;
	height: 300px;
}

/* Task List Styling */

.chore-title {
	font-size: 3.2rem;
	color: #fafafa;
	text-shadow: 5px 8px 2px rgba(0, 0, 0, 0.2);
	text-align: start;
}

.chore-title-question {
	font-size: 1.7rem;
	/* font-weight: 600; */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 4rem;
	/* color: #575661; */
	color: #fafafa;
	text-align: start;
}

.task-list {
	/* background-color: rgb(244, 232, 213); */
	background-color: #8093f1;
	padding: 4rem 15rem;
	/* border-radius: 10rem; */
	/* box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1); */
}
.task-container {
	display: flex;
	flex-direction: column;

	text-align: center;
}

span.emoji {
	font-size: 4rem;
	text-align: center;
}

.tasks h3 {
	font-size: 25px;
	font-family: 'Paytone One';
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	color: #575661;
	text-transform: capitalize;
	text-align: center;
}

.task-description {
	font-size: 16px;
	color: #575661;
	text-align: center;
}

.task-points {
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
}

.task-completed-button {
	background: rgb(165, 226, 73);
	font-size: 1.2rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.task-completed-button:hover {
	background: #fafafa;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(165, 226, 73);
	border: 5px dotted rgb(165, 226, 73);
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.task {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	padding: 2rem;
	margin: 1rem;
}

.trash-icon {
	margin-left: auto;
	cursor: pointer;
}

/* Hover over Task */
.task:hover {
	/* background-color: #70d6ff;  */
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	padding: 2rem;
	margin: 1rem;
}

/* Sort Styling */
.sort-select {
	font-size: 1.6rem;
	padding: 1px 2px;
	font-family: 'Paytone One';
	border-radius: 4px;
	/* border: 1px solid #ccc; */
	border: none;
	background-color: transparent;
	color: #fafafa;
}

.sorting {
	display: flex;
	justify-content: end;
}

/* Add Task Form Styling */
.form {
	margin: 3rem 5rem;
}

.form-description {
	color: #fafafa;
	font-family: 'Paytone One';
	text-align: center;
	padding-bottom: 1rem;
	font-size: 2rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.AddTaskChoreForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add-input {
	font-size: 20px;
	margin-top: 0.5rem;
	color: #575661;
	font-weight: 600;
	font-family: sans-serif;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 15px;
	border: none;
	text-transform: capitalize;
}

.add-input::placeholder {
	color: #575661;
}

.add-btn {
	/* box-shadow: 0px 5px 10px 0px rgba(47, 20, 63, 0.2); */
	background: #26c1fc;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 15px;
	padding: 1rem 2rem;
	margin-top: 1.5rem;
	cursor: pointer;
}
.add-btn:hover {
	/* background: #7bd4f7; */
}

/* Rewards Page */

.reward-title {
	padding-top: 2rem;
	font-size: 3.2rem;
	color: #fafafa;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-align: start;
}

.reward-title-statement {
	font-size: 1.7rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 3rem;
	color: #fafafa;
	text-align: start;
}

.rewards-list {
	display: flex;
	/* background-color: #f1bc41; */
	background-color: rgb(239, 75, 75);
	padding: 4rem 15rem;
	/* box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1); */
}

.rewards h3 {
	font-size: 22px;
	font-family: 'Paytone One';
	text-align: center;
	color: #575661;
}

.rewards .points-earned {
	font-size: 20px;
	color: #eab438;
	text-align: center;
}

.reward {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	padding: 2rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.reward:hover {
	background-color: #fafafa;
	border-radius: 10px;
	width: 100%;
	box-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	/* background-color: #e0f3fb; */
	padding: 2rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.redeem-button {
	background: rgb(165, 226, 73);
	font-size: 1.2rem;
	font-weight: 600;
	color: #fafafa;
	border: none;
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

.redeem-button:hover {
	background: #fafafa;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(165, 226, 73);
	border: 5px dotted rgb(165, 226, 73);
	border-radius: 20px;
	padding: 1rem;
	margin-top: 1rem;
	cursor: pointer;
	align-content: center;
	/* box-shadow: 0px 5px 10px 0px #7db1c6; */
}

/* My Stats */

.user-stat-container {
	display: flex;
	background-color: rgb(86, 205, 249);
	padding: 4rem 15rem;
	/* border-radius: 10rem; */
	/* box-shadow: 8px 8px rgba(0, 0, 0, 0.1), 8px -8px rgba(0, 0, 0, 0.1); */
}

.stats-title {
	padding-top: 2rem;
	font-size: 3.5rem;
	/* font-weight: 600; */
	color: #fafafa;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
	text-align: start;
}

.stats-title-question {
	font-size: 1.7rem;
	/* font-weight: 600; */
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding-bottom: 4rem;
	/* color: #575661; */
	color: #fafafa;
	text-align: start;
}

.stats-container {
	padding: 5rem;
	box-shadow: 8px 5px 8px 2px rgba(48, 22, 63, 0.2);
	border-radius: 15px;
	background-color: white;
}

.avail-container {
	text-align: center;
}

.lifetime-container {
	text-align: center;
}

.stats-points {
	display: inline-block;
	vertical-align: middle;
	font-size: 3.5rem;
	font-family: 'Paytone One';
	color: #575661;
	text-shadow: 5px 8px 2px rgba(47, 20, 63, 0.2);
}

.points-description {
	font-family: 'Paytone One';
	color: #575661;
	font-size: 24px;
}

.coin-image {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: auto;
}

.points-container {
	background-color: white;
}

/* Responsive Design */
@media only screen and (max-width: 1200px) {
	.about-container {
		flex-direction: column;
		padding: 3.6rem 6rem; /* Adjusted padding for better spacing */
	}
	.about-info-container p {
		font-size: 16px; /* Reduced font size by 2 pixels */
		line-height: 28px; /* Reduced line height for better appearance */
	}
	.about-image img {
		height: 250px; /* Reduced height by 46 pixels */
	}
	.task-list {
		padding: 2.4rem 6rem; /* Adjusted padding for better spacing */
	}
	.rewards-list {
		padding: 2.4rem 6rem; /* Adjusted padding for better spacing */
	}
	.user-stat-container {
		padding: 2.4rem 6rem; /* Adjusted padding for better spacing */
	}
	.stats-image img {
		height: 250px; /* Reduced height by 46 pixels */
	}
	.stats-container {
		flex-direction: column;
		padding: 3.6rem 6rem; /* Adjusted padding for better spacing */
	}
}

@media only screen and (max-width: 900px) {
	.about-container {
		padding: 3.6rem 3rem; /* Adjusted padding for better spacing */
	}
	.about-info-container p {
		font-size: 14px; /* Reduced font size by 4 pixels */
		line-height: 26px; /* Reduced line height for better appearance */
	}
	.about-image img {
		height: 200px; /* Reduced height by 96 pixels */
	}
	.task-list {
		padding: 2.4rem 3rem; /* Adjusted padding for better spacing */
	}
	.rewards-list {
		padding: 2.4rem 3rem; /* Adjusted padding for better spacing */
	}
	.user-stat-container {
		padding: 2.4rem 3rem; /* Adjusted padding for better spacing */
	}
	.stats-image img {
		height: 200px; /* Reduced height by 96 pixels */
	}
	.stats-container {
		padding: 3.6rem 3rem; /* Adjusted padding for better spacing */
	}
}

@media only screen and (max-width: 600px) {
	.app-name-title {
		font-size: 1.5rem; /* Reduced font size by 2 pixels */
	}
	.app-name-title-2 {
		font-size: 2rem; /* Reduced font size by 2 pixels */
	}
	.header h2 {
		font-size: 1.4rem; /* Reduced font size by 2 pixels */
	}
	.welcome-message {
		font-size: 1.4rem; /* Reduced font size by 2 pixels */
	}
	.name-label {
		font-size: 0.8rem; /* Reduced font size by 2 pixels */
	}
	.name-input-box {
		font-size: 0.8rem; /* Reduced font size by 2 pixels */
		padding: 0.6rem; /* Adjusted padding for better appearance */
	}
	.welcome-button {
		font-size: 0.8rem; /* Reduced font size by 2 pixels */
		border-radius: 10px; /* Adjusted border radius for better appearance */
		padding: 0.5rem 1.4rem; /* Adjusted padding for better appearance */
		margin-top: 0.6rem; /* Reduced margin for better spacing */
	}
	.menu-buttons {
		padding: 2.5rem 1rem; /* Adjusted padding for better spacing */
		padding-bottom: 8rem; /* Reduced padding for better spacing */
	}
	.chore-title {
		font-size: 2rem; /* Reduced font size by 2 pixels */
	}
	.chore-title-question {
		font-size: 1.2rem; /* Reduced font size by 2 pixels */
		padding-bottom: 2rem; /* Reduced padding for better spacing */
	}
	.task-list {
		padding: 2.4rem 1rem; /* Adjusted padding for better spacing */
	}
	.sort-select {
		font-size: 1.2rem; /* Reduced font size by 2 pixels */
		padding: 0.6rem 1.2rem; /* Adjusted padding for better appearance */
	}
	.form {
		margin: 2.4rem 1.2rem; /* Adjusted margin for better spacing */
	}
	.form-description {
		font-size: 1.2rem; /* Reduced font size by 2 pixels */
		padding-bottom: 0.6rem; /* Reduced padding for better spacing */
	}
	.add-input {
		font-size: 14px; /* Reduced font size by 4 pixels */
		margin-top: 0.3rem; /* Reduced margin for better spacing */
		padding: 0.6rem; /* Adjusted padding for better appearance */
		border-radius: 10px; /* Adjusted border radius for better appearance */
	}
	.add-btn {
		font-size: 0.8rem; /* Reduced font size by 2 pixels */
		border-radius: 10px; /* Adjusted border radius for better appearance */
		padding: 0.6rem 1.2rem; /* Adjusted padding for better appearance */
		margin-top: 0.6rem; /* Reduced margin for better spacing */
	}
}
